/* CAROUSEL */

.animals {
  position: relative;
  max-width: 300px;

  .next {
    float: right;
  }

  li {
    margin-right: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;

    img {
      max-width: 300px;
      margin-bottom: 14px;
    }

    span {
      width: 100%;
      font-size: 20px;
      text-align: center;
      background: #efefef;
      margin-top: 0;
      margin-bottom: auto;
    }
  }

  .inactive {
    color: #ccc;
  }
}

.carousel-status {
  max-width: 300px;
  @media screen and (min-width: 667px) {
    padding-left: 40px;
  }
}

.carousel-container {
  margin: 0 auto;

  @media screen and (min-width: 667px) {
    display: flex;
    max-width: 700px;
  }
}