/* CAROUSEL */

.animals {
  position: relative;
  width: 300px;
  margin: 0 auto;

  .next {
    float: right;
  }

  li {
    margin-right: 10px;
    position: relative;

    img {
      width: 300px;
      height: 237px;
    }

    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: #fff;
    }
  }

  .carousel-dots a {
    text-decoration: none;
    background-color: #ccc;
  }

  .active a {
    background-color: #000;
  }

  .inactive {
    color: #ccc;
  }
}

.carousel-status {
  width: 300px;
  margin: 0 auto;
}