/* TOOLTIP */

.tooltip {
  &:after {
    background: #fff;
    border: 2px solid #ccc;
  }

  &-top-align {
    &:after {
      margin-left: -3px;
      margin-bottom: -4px;
    }
  }

  &-bottom-align {
    &:after {
      margin-left: -3px;
      margin-top: -4px;
    }
  }

  &-left-align {
    &:after {
      right: -4px;
      margin-top: -3px;
    }
  }

  &-right-align {
    &:after {
      margin-top: -3px;
      left: -4px;
    }
  }
  
  &-content {
    padding: 8px;
    background: #fff;
    border: 2px solid #ccc;
    
    h1 {
      font-size: 18px;
    }
  }

}