/* TOOLTIP */

.tooltip {
  &-arrow {
    background-image: url(../images/carats.png);
    position: absolute;
  }
  
  &-content {
    padding: 8px;
    background: #fff;
    border: 1px solid #ccc;
    
    h1 {
      font-size: 18px;
    }
  }

  &-left-align,
  &-right-align {
    .tooltip-arrow {
      width: 8px;
      height: 14px;
      margin-top: -13px;
    }
  }

  &-top-align,
  &-bottom-align {
    .tooltip-arrow {
      width: 14px;
      height: 7px;
      margin-left: -7px;
    }
  }

  &-left-align {
    .tooltip-arrow {
      background-position: -5px -39px;
    }

    .tooltip-content {
      margin-right: 6px;
      zoom: 1;
    }
  }

  &-right-align {
    .tooltip-arrow {
      background-position: 0 -22px;
    }

    .tooltip-content {
      margin-left: 7px;
      zoom: 1;
    }
  }

  &-top-align {
    .tooltip-arrow {
      background-position: 0 -11px;
    }

    .tooltip-content {
      margin-bottom: 6px;
      zoom: 1;
    }
  }

  &-bottom-align {
    .tooltip-arrow {
      background-position: 0 0;
    }

    .tooltip-content {
      margin-top: 6px;
      zoom: 1;
    }
  }
}