/* TOOLTIP */

.tooltip {
  &:after {
    background: #fff;
    border: 1px solid #ccc;
  }
  
  &-content {
    padding: 8px;
    background: #fff;
    border: 1px solid #ccc;
    
    h1 {
      font-size: 18px;
    }
  }

}