@import "main/utils";

/* MAIN */

body {
  font: 14px "Arial", Helvetica, sans-serif;
  color: #000;
  margin: 0;
  padding: 0;

  a {
    color: #00C;
  
    &:hover {
      text-decoration: none;
    }
  }
}

.container {
  max-width: 985px;
  margin: 0 auto;
  padding: 20px;
}

.go-back {
  display: block;
  padding: 12px;
  background: #CCC;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #666;
  font-weight: bold;
}

.throttled,
.resize {
  padding: 6px 0;
}

.throttled:before {
  content: "Throttled: ";
  font-weight: bold;
}

.resize:before {
  content: "Resize: ";
  font-weight: bold;
}

.scroll-direction {
  position: fixed;
  background: #ccc;
  padding: 10px;

  &:before {
    content: "scroll direction: ";
    font-weight: bold;
  }
}

/* General Classes */
.fl {
  float: left;
}

.fr {
  float: right;
}

.hidden {
  position: absolute;
  top: -99999em;
  visibility: hidden;
  display: none;
}

.no-show {
  display: none;
}

form {
  padding: 5px;
  border: 1px solid #ccc;

  input[type=text] {
    display: block;
  }
}

.tight {
  padding: 0;
  margin: 0;
}

ul.list li {
  margin-bottom: 5px;
}

/* Script Header */
.script-header {
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
  overflow: auto;

  h1 {
    float: left;
    margin: 0;
  }

  a {
    float: right;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
  }
}

.notes {
  background-color: $gray;
  padding: 14px;
  margin-top: 50px;
  border: 1px solid #999;
  display: inline-block;

  h3 {
    margin: 0 0 4px 0;
  }

  ul {
    padding: 0 0 0 16px;
    margin: 0;
  }
}

/* Script specific styles */
@import 
  "main/scripts/carousel",
  "main/scripts/form-elements",
  "main/scripts/modal",
  "main/scripts/tooltip",
  "main/scripts/ajax",
  "main/scripts/animate";