@import "main/utils";

/* MAIN */

body {
  font: 14px "Arial", Helvetica, sans-serif;
  color: #000;
  margin: 0;
  padding: 0;

  a {
    color: #00C;
  
    &:hover {
      text-decoration: none;
    }
  }
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}
/* General Classes */
.fl {
  float: left;
}

.fr {
  float: right;
}

.hidden {
  position: absolute;
  top: -99999em;
  visibility: hidden;
  display: none;
}

.no-show {
  display: none;
}

form {
  padding: 5px;
  border: 1px solid #ccc;

  input[type=text] {
    display: block;
  }
}

.tight {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0 0 0 20px;
  margin: 0;

  li {
    margin-top: 6px;
  }
}

ul.list li {
  margin-bottom: 5px;
}

p {
  margin: 0 0 15px 0;

  &:last-child {
    margin: 0;
  }
}

/* Script Header */
.script-header {
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  overflow: auto;

  .links {
    float: right;
  }

  h1 {
    float: left;
    margin: 0;
    font-size: 28px;
    width: 70%;
  }

  a {
    float: right;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
  }
}

/* Script specific styles */
@import 
  "main/scripts/carousel",
  "main/scripts/form-elements",
  "main/scripts/modal",
  "main/scripts/tooltip",
  "main/scripts/ajax",
  "main/scripts/animate";