</div>
{{!-- <script type="text/javascript" src="http://cdn.jsdelivr.net/console-log/latest/console.min.js?100"></script> --}}
{{#if script}}<script type="text/javascript" src="js/{{script}}.js"></script>{{/if}}
{{{ @partial-block }}}
</body>
</html>