<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="css/main.css" />
  <link rel="stylesheet" type="text/css" href="css/scripts.css" />
</head>

<body>

<div class="container">

  <div class="script-header">
    <h1>{{title}}</h1>
    <div class="links">
      <a href="#notes">Notes</a>
      <a href="docs/{{docs}}.html">Docs / Features</a>
    </div>
  </div>
