/* CAROUSEL */

.carousel {
  overflow: hidden;

  &--viewer {
    overflow-y: hidden;
    overflow-x: scroll;
    position: relative;
  }

  &--dots {
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      text-align: center;

      li {
        display: inline-block;
      }
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
    display: flex;
	  align-items: center;
  }

  img {
    user-select: none;
		pointer-events: none
  }

  .inactive {
    cursor: default;
  }
}
