/**
* SCRIPTS.CSS
* Essential CSS needed for JavaScript Projects.
* These are needed for base functionality.
*/

/* ACCORDION */
.accordion {padding:0; margin:0; list-style-type:none; }
.accordion .accordion-hide-content .accordion-content {display: none;}


/* INPUT CONTROL */
.input-placeholder {color:#999;}
.input-focus {border-color:#F93;}

/* CAROUSEL */
.carousel .carousel-viewer {overflow-y:hidden; overflow-x:scroll; position:relative; /* needed for ie */}
.carousel .carousel-viewer ul {padding:0;margin:0;list-style-type:none; width:99999em; position:relative;}
.carousel .carousel-viewer ul li {float:left;}
.carousel .carousel-dots ul {padding:0;margin:0;list-style-type:none; text-align: center;}
.carousel .carousel-dots ul li {display: inline-block;}
.carousel .inactive {cursor:default;}

/* FORM ELEMENTS */
input.styled, select.styled {width:1px; height:1px; position:absolute; overflow:hidden; left:-9000em;margin:0;}
.checkbox, .radio {float:left;zoom:1;}
.disabled {opacity: 0.5; filter: alpha(opacity=50);}
.focus {outline:1px solid #F60;}
/* Select Menu */
.select.focus {outline:none;border:0;}
.select {display:inline-block;}
.select.active ul {left:0 !important;}
.select .dropdown-link {cursor:default; outline:none;display:block;text-decoration:none;}
.select.focus .dropdown-link {border-color: #f60; }
.select div {position:relative;}
.select ul {margin:0;padding:0;position:absolute;cursor:pointer;z-index:10000; left:-99999em; zoom:1;}
.select li {list-style-type:none;}
.select li a {cursor:default; outline:none;display:block;text-decoration:none;}

/* TOOLTIPS */
.tooltip {position:absolute; z-index:10000; zoom:1; display:block;top:-99999em;}
.tooltip .content {display:block;}

/* MODAL */
.overlay {position:absolute; background:#000; opacity:0.5; filter:alpha(opacity=50); top:0; visibility:hidden; overflow:hidden; display:none;left:0;width:100%; height:100%;}
.modal {display:block; position:fixed; z-index:1; top:50%;left:50%; }
.modal .modal-header {overflow:auto;clear:both;zoom:1;}
.modal .modal-header .modal-close {float:right; text-decoration:none; }
.modal .modal-content {clear:both; display:block;overflow:auto;}

/* ajax */
.loader {text-align:center;}