{{>header}}

  <p>Click on "make request" and check the console for the response.</p>

  <div class="ajax-content-1">
    <h2>GET</h2>
    <button id="ajaxBtn1">make request</button>

    <div id="ajaxContent1">
      <pre><code>new ML.Ajax({<br>  responseType: 'json',<br>  url: 'https://reqres.in/api/users/2',<br>  success: function(xhr) {<br>    console.log(xhr.response.data);<br>  },<br>  error: function(xhr) {<br>    console.log('ERROR', xhr);<br>  }<br>});</code></pre>
    </div>
  </div>

  <div class="ajax-content-2">
    <h2>POST</h2>
    <button id="ajaxBtn2">make request</button>

    <div id="ajaxContent2">
      <pre><code>new ML.Ajax({<br>  url: 'https://reqres.in/api/users',<br>  method: 'POST',<br>  responseType: 'json',<br>  data: {<br>    name: 'john smith',<br>    age: 22<br>  }<br>  success: function(xhr) {<br>    console.log(xhr.response);<br>  },<br>  error: function(xhr) {<br>    console.log('ERROR', xhr);<br>  }<br>});</code></pre>
    </div>
  </div>

  <div class="ajax-content-3">
    <h2>JSONP</h2>
    <button id="ajaxBtn3">make request</button>

    <div id="ajaxContent3">
      <pre><code>var callbackFunction = function(response) {<br>  console.log(response);<br>};<br><br>new ML.Ajax({<br>  url: 'https://jsfiddle.net/echo/jsonp',<br>  method: 'JSONP',<br>  data: {<br>    name: 'john smith',<br>    age: 22<br>  },<br>  jsonpCallback: 'callbackFunction'<br>});</code></pre>
    </div>
  </div>

  <div class="notes" id="notes">
    <h3>Notes</h3>
    <ul>
      <li>CORS is configurable.</li>
      <li>You can specify response type.</li>
      <li>You can set headers for the request.</li>
    </ul>
  </div>

{{#> footer}}
  <script>
    var btn1 = ML.El.$q('#ajaxBtn1');
    var btn2 = ML.El.$q('#ajaxBtn2');
    var btn3 = ML.El.$q('#ajaxBtn3');

    var callbackFunction = function(response) {
      console.log(response);
    };

    ML.El.evt(btn1, 'click', function(e) {
      new ML.Ajax({
        responseType: 'json',
        url: 'https://reqres.in/api/users/2',
        success: function(xhr) {
          console.log(xhr.response.data);
        },
        error: function(xhr) {
          console.log('ERROR', xhr);
        }
      });
    });

    ML.El.evt(btn2, 'click', function(e) {
      new ML.Ajax({
        url: 'https://reqres.in/api/users',
        method: 'POST',
        responseType: 'json',
        data: {
          name: 'john smith',
          age: 22
        },
        success: function(xhr) {
          console.log(xhr.response);
        },
        error: function(xhr) {
          console.log('ERROR', xhr);
        }
      });
    });

    ML.El.evt(btn3, 'click', function(e) {
      new ML.Ajax({
        url: 'https://jsfiddle.net/echo/jsonp',
        method: 'JSONP',
        data: {
          name: 'john smith',
          age: 22
        },
        jsonpCallback: 'callbackFunction'
      });
    });
  </script>
{{/footer}}