{{>header}}

  <div class="animate-header">
    <div class="actions fl">
    {{#actions}}
      <button id="{{this.id}}">{{this.text}}</button>
    {{/actions}}
      <button id="plus25">add 25 to width</button>
      <button id="sequence">subtract 25 from width, wait, fade out</button>
    </div>

    <div class="fr">
      <label for="">easing</label>
      <select id="animateEasing">
        <option selected value="linear">linear</option>
        <option value="elastic">elastic</option>
        <option value="quad">quad</option>
        <option value="bounce">bounce</option>
        <option value="back">back</option>
        <option value="quint">quint</option>
        <option value="circ">circ</option>
      </select>
    </div>  
  </div>
  
  <div class="animate-playground">
    <div class="animate-box" id="animateBox"></div>
  </div>

  <div class="notes" id="notes">
    <h3>Notes</h3>
    <ul>
      <li>Only px values can be animated at this time.</li>
      <li>Chaining is supported.</li>
      <li>Using requestAnimationFrame</li>
      <li>Duration is defaulted to 400ms and is configurable.</li>
      <li>
        <em>With CSS transitions, most of this is obsolete.</em>
        <a target="_blank" href="https://developers.google.com/web/fundamentals/design-and-ux/animations/css-vs-javascript">
          CSS Animation vs JS Animation
        </a>
      </li>
    </ul>
  </div>

{{#> footer}}
  <script>
    var easing = ML.El.$q('#animateEasing');
    var inc = 100;
    
    var animWidth = ML.El.$q('#animWidth');
    var animHeight = ML.El.$q('#animHeight');
    var animOpacOut = ML.El.$q('#animOpacOut');
    var animOpacIn = ML.El.$q('#animOpacIn');
    var plus25 = ML.El.$q('#plus25');
    var sequence = ML.El.$q('#sequence');
    var animateEl = new ML.Animate(ML.El.$q('#animateBox'), {easing: easing.value});

    ML.El.evt(plus25, 'click', function() {
      animateEl.to({width: '+25'});
    });

    ML.El.evt(sequence, 'click', function() {
      animateEl.to({width: '-25'}).to({opacity: 0});
    })

    ML.El.evt(animWidth, 'click', function() {
      animateEl.to({width: 100});
    });

    ML.El.evt(animHeight, 'click', function() {
      animateEl.to({height: 100});
    });

    ML.El.evt(animOpacOut, 'click', function() {
      animateEl.to({opacity: 0});
    });

    ML.El.evt(animOpacIn, 'click', function() {
      animateEl.to({opacity: 1});
    });
  </script>
{{/footer}}