{{>header}}

  <div class="animate-header">
    <div class="actions fl">
    {{#actions}}
      <button id="{{this.id}}">{{this.text}}</button>
    {{/actions}}
    </div>

    <div class="fr">
      <label for="">easing</label>
      <select id="animateEasing">
        <option selected value="linear">linear</option>
        <option value="elastic">elastic</option>
        <option value="quad">quad</option>
        <option value="bounce">bounce</option>
        <option value="back">back</option>
        <option value="quint">quint</option>
        <option value="circ">circ</option>
      </select>
    </div>  
  </div>
  
  <div class="animate-playground">
    <div class="animate-box" id="animateBox"></div>
  </div>

  <div class="notes" id="notes">
    <h3>Notes</h3>
    <ul>
      <li>Only px values can be animated at this time.</li>
      <li>Animation done using requestAnimationFrame</li>
      <li>Easing functions are supported, view easing dropdown.</li>
      <li>
        <em>With CSS transitions, most of this is obsolete.</em>
        <a target="_blank" href="https://developers.google.com/web/fundamentals/design-and-ux/animations/css-vs-javascript">
          CSS Animation vs JS Animation
        </a>
      </li>
    </ul>
  </div>

{{#> footer}}
  <script>
    var box = ML.El.$q('#animateBox');
    var easing = ML.El.$q('#animateEasing');
    var inc = 100;
    
    var animWidth = ML.El.$q('#animWidth');
    var animHeight = ML.El.$q('#animHeight');
    var animOpacOut = ML.El.$q('#animOpacOut');
    var animOpacIn = ML.El.$q('#animOpacIn');

    var animateEl = function(props) {
      new ML.Animate(box, props, {easing: easing.value});
    };

    ML.El.evt(animWidth, 'click', function() {
      animateEl({width: inc});
    });

    ML.El.evt(animHeight, 'click', function() {
      animateEl({height: inc});
    });

    ML.El.evt(animOpacOut, 'click', function() {
      animateEl({opacity: 0});
    });

    ML.El.evt(animOpacIn, 'click', function() {
      animateEl({opacity: 1});
    });
  </script>
{{/footer}}