{{>header}}

  <div class="animate-header">
    <div class="actions fl">
    {{#actions}}
      <button id="{{this.id}}">{{this.text}}</button>
    {{/actions}}
    </div>

    <div class="fr">
      <label for="">easing</label>
      <select id="animateEasing">
        <option selected value="linear">linear</option>
        <option value="elastic">elastic</option>
        <option value="quad">quad</option>
        <option value="bounce">bounce</option>
        <option value="back">back</option>
        <option value="quint">quint</option>
        <option value="circ">circ</option>
      </select>
    </div>  
  </div>
  
  <div class="animate-playground">
    <div class="animate-box" id="animateBox"></div>
  </div>

{{#> footer}}
  <script>
    var box = ML.El.$('animateBox');
    var easing = ML.El.$('animateEasing');
    var inc = 50;
    
    var animRight = ML.El.$('animRight');
    var animLeft = ML.El.$('animLeft');
    var animBtm = ML.El.$('animBtm');    
    var animWidth = ML.El.$('animWidth');
    var animHeight = ML.El.$('animHeight');
    var animWidthHeight = ML.El.$('animWidthHeight');
    var animOpacOut = ML.El.$('animOpacOut');
    var animOpacIn = ML.El.$('animOpacIn');

    var animateEl = function(props) {
      new ML.Animate(box, props, {easing: easing.value});
    };

    ML.El.evt(animWidth, 'click', function() {
      animateEl({width: inc});
    });

    ML.El.evt(animHeight, 'click', function() {
      animateEl({height: inc + 20});
    });

    ML.El.evt(animWidthHeight, 'click', function() {
      animateEl({height: '+' + inc, width: '+' + inc});
    });

    ML.El.evt(animRight, 'click', function() {
      animateEl({left: '+' + inc});
    });

    ML.El.evt(animLeft, 'click', function() {
      animateEl({left: '-' + inc});
    });

    ML.El.evt(animBtm, 'click', function() {
      animateEl({top: '+' + inc});
    });

    ML.El.evt(animOpacOut, 'click', function() {
      animateEl({opacity: 0});
    });

    ML.El.evt(animOpacIn, 'click', function() {
      animateEl({opacity: 1});
    });
  </script>
{{/footer}}