{{>header}}

  <div class="script-header">
    <h1>{{title}}</h1>
    <a href="docs.html#carousel">Documentation</a>
  </div>
      
  <div class="carousel animals" id="initCarousel">
    <ul>
    {{#items}}
      <li class="carousel-slide"><img alt="" src="images/carousel-imgs/{{this}}.jpg" /></li>
    {{/items}}
    </ul>
  </div>
  
  <button id="carouselNext">Next button</button>
  <button id="carouselPrev">Prev button</button>

  <div class="carousel-status">
    <p>This carousel is initialised in Javascript and has a specific callback function.</p>
    Current Index: <span id="indexNum">0</span>
  </div>

  <div class="fixer" style="height:70px;"></div>

  <div class="carousel animals" data-carousel="autoplay:true:dots:true">
    <ul>
    {{#items}}
      <li class="carousel-slide"><img alt="" src="images/carousel-imgs/{{this}}.jpg" /></li>
    {{/items}}
    </ul>
  </div>

{{#> footer}}
  <script>
    var carousel = new ML.Carousel(ML.El.$('initCarousel'), {
      dots: true
    }, function(index) {
      ML.El.$('indexNum').innerHTML = index;
    })

    ML.El.evt(ML.El.$('carouselNext'), 'click', function(e) {
      carousel.next();
    });

    ML.El.evt(ML.El.$('carouselPrev'), 'click', function(e) {
      carousel.prev();
    });

    carousel.init();
  </script>
{{/footer}}