{{>header}}

  <form id="random" method="" action="">
    <label for="first-name">First Name:</label><br />
    <input type="text" id="first-name" name="first-name" />

    <div class="fixer" style="height:10px;"></div>

    <label for="last-name">Last Name:</label><br />
    <input type="text" id="last-name" name="last-name" placeholder="Smith" /> 

    <button type="submit">send</button>           
  </form>

  <div class="fixer" style="height:20px;"></div>

  <div class="notes">
    <h3>Notes</h3>
    <ul>
      <li>When form is submitted logic will need to be put in place so placeholder value does not get passed when placeholder not supported.</li>
    </ul>
  </div>

{{>footer}}
