{{>header}}

  <form id="random" method="" action="">
    <label for="month-born">Month you were born: </label>
    <select id="month-born" name="month-born">
    {{#select1}}
      <option value="{{@index}}">{{this}}</option>
    {{/select1}}
    </select>

    <div style="height:10px;clear:both;"></div>    

    <label for="year-born">Year Range: </label>
    <select id="year-born" name="year-born">
    {{#select2}}
      <option value="{{this}}">{{this}}</option>
    {{/select2}}
    </select>

    <div id="customContainer" style="margin:10px 0">
      <button id="convert">convert into custom select</button>
    </div>

    <div style="height:10px;clear:both;"></div> 
    <button type="submit">submit</button>
  </form>

  <div class="notes" id="notes">
    <h3>Notes</h3>
    <ul>
      <li>IE6 maxHeight is not supported, so height is not set.</li>
      <li><code>optgroup</code> and multiple selections are not supported.</li>
      <li>Selects that have <code>system</code> as a class name will not be a custom select menu.</li>
      <li>Events bound to the select, will be bound to the custom select as well.</li>
      <li>Not accessible (keyboard events, maybe soon)</li>
    </ul>
  </div>

{{#> footer}}
  <script>
    var customContainer = ML.El.$('customContainer');
    var convert = ML.El.$('convert');
    var newSelect = ML.El.create('select');

    newSelect.innerHTML = '<option>Created via JS</option>';
    customContainer.appendChild(newSelect);

    ML.El.evt(convert, 'click', function(e) {
      e.preventDefault();
      ML.Dropdown();
    });
  </script>
{{/footer}}