{{>header}}

  <h2>Examples:</h2>
  <ul class="list">
  {{#examples}}
    <li>
      <a href="#" rel="{{this.rel}}" data-modal="{{this.modal}}">{{this.title}}</a>
      <span> &ndash; {{this.description}}</span>
    </li>
  {{/examples}}
  </ul>
  
  <div class="notes" id="notes">
    <h3>Notes</h3>
    <ul>
      <li>Resizing the modal can throw the centering of the modal off.</li>
      <li>Clicking on the overlay or dark background behind the modal, will close the modal.</li>
    </ul>
  </div>

  <div class="modal" id="unique-id3">
    <div class="modal-header">
      <h2 class="modal-header-title">Modal header</h2>
      <a href="#" class="modal-close">&times;</a>
    </div>

    <div class="modal-content">
      <h3>Test header</h3>
      <p>Some test content. asdfasd fasdf asdfasdf asdfa sdfasd fasdfasdfasdf</p>
      <a href="#" id="testLink">link</a>
    </div>
  </div>

  <div class="modal" id="unique-id4">
    <div class="modal-header">
      <h2 class="modal-header-title">I am a Modal header</h2>
      <a href="#" class="modal-close">CLOSE</a>
    </div>

    <div class="modal-content">
      <p>Im a modal.</p>
      <ul>
        <li>list item</li>
        <li>list item 2</li>
      </ul>
    </div>
  </div>

  <div class="modal" id="unique-id2">
    <div class="modal-header">
      <h2 class="modal-header-title">Hello! Im a header :)</h2>
      <a href="#" class="modal-close">CLOSE &times;</a>
    </div>

    <div class="modal-content">
      <img style="max-width:200px;" src="images/carousel-imgs/eagle.jpg" alt="">
    </div>
  </div>

{{#> footer}}
  <script>
    var modals = new ML.Modal();
    modals.init();
  </script>
{{/footer}}
